_pycache__/
*.pyc
.env
token_*.json
token files/

# Streamlit specific
.streamlit/
# Ignore the Streamlit configuration file
 .streamlit/config.toml
# Ignore the Streamlit secrets file
 .streamlit/secrets.toml   
